[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
matplotlib = "*"
pandas-datareader = "*"
numpy = "*"
pandas = "*"
tensorflow = "*"
sklearn = "*"
keras = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-admin = "*"
tqdm = "*"
plotly = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.8"
